<ul>
  <li *ngFor="let book of data">
    Book name: {{book.name}}
    <button type="button" mat-raised-button color="primary" (click)="deleteBook(book.id)" [disabled]="isDisabled">Delete</button>
    <button type="button" (click)="getBook(book.id)">Get book</button>
    <br>
    Book availability: {{book.available}}
  </li>
</ul>

<br>
<br>

<input #myInput type="text">
<button (click)="log(myInput.value)">Log</button>




<form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
  <label>Book name: </label>
  <input ngModel type="text" name="name" >
  <br>
  <label>Available: </label>
  <input ngModel type="checkbox" name="available">
  <br>
  <button type="submit">Add book</button>
</form>
